
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.adminBox{
    margin: auto;
    margin-top: 1%;
    
    width: 60%;
    box-shadow: 0 3px 3px rgb(30, 2, 36);
    background-color: rgb(240, 240, 240);
    color: black;
   
    font-family: 'Roboto', sans-serif;
}
.buttonCard{
    display:inline-block;
    width: 40%;
    flex-wrap: wrap;
    background-color: rgb(28, 13, 110);
    font-family: sans-serif;
    border:rgb(28, 13, 110);
    box-shadow:  rgb(143, 139, 139);
    margin-bottom: 3%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    
}
.logout{

    width: 40%;
    flex-wrap: wrap;
    background-color: rgb(11, 5, 49);
    font-family: sans-serif;
    border: 1px rgb(11, 5, 49);
    color: #ffffff;
    box-shadow:  rgb(143, 139, 139);
    margin-bottom: 1%;
 
}